body {
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}

.header_card{
    border:2px solid white;
    background-color: rgb(102, 216, 25);
    padding: 50px;

}
.logo{
    width: 300px;
    height: 100px;
}

.container{
    width: 1170px;
    border: 2px solid black;
    margin: 50 auto;
    


}
.card1{

    padding: 50px;
    border: 2px solid white;
    box-shadow: 5px 10px 18px rgb(148, 141, 141);

}

.header{
    font-size: 5rem;
}
.card-p{
    font-size: 2rem;
    background-color: #67B26F;
}

.link{
    text-decoration: none;
    border: 10px solid b;
}