<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <!-- Latest compiled and minified CSS -->

   <!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
<!-- Bootstrap CSS -->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<!-- Font Awesome CSS -->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="home.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <div class="site-page">

  
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          

         
          <div class="d-flex"  id="navbarNav">
            <ul class="navbar-nav" >
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">CLICK FOR TEST</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">VIEW RESULT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/profile">VIEW PROFILE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">INSTRUCTIONS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">LOGOUT</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  </header> 

  <div class="body">
    <section class="section1">
      <div class="container">
        <div class="row">
          <div class="column">
            <div class="head">
              <h1 class="heading1">WELCOME TO ONLINE EXAMINATION SYSTEM</h1>
              <p class="para1">Are You Ready to Take the Challenge ?</p>
            </div>
          </div>
          <div class="column">
            <div><img src="/job.jpg" alt="test"></div>
          </div>
        </div>
       </div>
    </section>
</div>
</body>
</html>


 