<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        th {
            background-color: goldenrod;
        }

        tr:nth-child(even) {
            background-color: lightgoldenrodyellow;
        }

        tr:nth-child(odd) {
            background-color: lightpink;
        }

        .startExam {
            background-color: #4CAF50;
            border: 1px solid black;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>
</head>

<body>

    <body>
        <table border="1px solid black">
            <tr>
                <th>Exam ID</th>
                <th>Exam Name</th>
                <th>Time Duration</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>1</td>
                <td>maths</td>
                <td>10 minite</td>
                <td> <a class="startExam" href="">Start</a></td>
            </tr>
        </table>
    </body>
</body>
</html>