<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <!-- Font Awesome CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Css/style.css" type="text/css">


</head>

<body>
    <div class="site-page">
        <header>
            <nav class="navbar navbar-expand-lg bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand text-white" href="/">Home</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-flex" id="navbarNav">
                        <ul class="navbar-nav">

                            <li class="nav-item">
                                <a class="nav-link active text-white" href="/profile">VIEW PROFILE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-white " href="/instruction">INSTRUCTIONS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-white" href="#">LOGOUT</a>
                            </li>
                        </ul>

                    </div>


                </div>
            </nav>
        </header>

        <div class="body">
            <section class="section1">
                <div class="container mt-5">
                    <div class="d-flex">
                        <div class="col d-flex gap-1">
                            <div class="d-flex flex-column justify-content-center mt-2">
                                <h1 class="heading1">WELCOME TO ONLINE EXAMINATION SYSTEM</h1>
                                <p class="para1  mt-4">Are You Ready to Take the Challenge ?</p>
                                <button class="btn btn-exm  btn-primary">Enter Into Exam</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="img-thumbnail"><img src="/job.jpg" alt="test"></div>
                        </div>
                    </div>
                </div>
        </div>

        <div class="modal">
            <div class="modal-content">
                <span class="close-button">×</span>
                <h1>Hello, I am a modal!</h1>
            </div>
        </div>
        </section>
    </div>

    <script>
        var modal = document.querySelector(".modal");
        var trigger = document.querySelector(".trigger");
        var closeButton = document.querySelector(".close-button");

        function toggleModal() {
            modal.classList.toggle("show-modal");
        }

        function windowOnClick(event) {
            if (event.target === modal) {
                toggleModal();
            }
        }

        trigger.addEventListener("click", toggleModal);
        closeButton.addEventListener("click", toggleModal);
        window.addEventListener("click", windowOnClick);



        function myProfile() {
            return fetch('/profile').then(response => response.json())
                .then(data => {
                    console.log(data);
                })
                .catch(error => console.error(error))
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>

</html>