<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online Quiz Exam Instructions</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


    <style>
        body {
            background: #8EA7E9;
            padding: 0;
            margin: 0;
            font-family: 'Lato', sans-serif;
         
        }

        .container {
            margin-top: 50px;
        }

        h1 {
            text-align: center;
            margin-bottom: 50px;
        }

        .instructions {
            background-color: #fff;
            border-radius: 5px;
            padding: 20px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        }

        .instructions h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .instructions ol {
            padding-left: 30px;
            margin-bottom: 20px;
        }

        .instructions li {
            font-size: 18px;
            line-height: 1.5;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Online Quiz Exam Instructions</h1>
        <div class="instructions">
            <h2>General Instructions</h2>
            <ol>
                <li>Read the questions carefully and make sure you understand them before answering.</li>
                <li>Answer all questions to the best of your ability.</li>
                <li>Click on the "Next" button to proceed to the next question.</li>
                <li>You can also use the "Previous" button to go back to a previous question.</li>
                <li>Click on the "Submit" button when you have answered all the questions.</li>

            </ol>
            <h2>Time Limit</h2>
            <p>You will have complete the exam in given time.</p>
            <h2>Scoring</h2>
            <p>The exam will be scored out of total points.</p>
            <h2>Materials Allowed</h2>
            <p>You are not allowed to use any materials during the exam.</p>
            <h2>Prohibited Items</h2>
            <p>The following items are strictly prohibited during the exam:</p>
            <ul>
                <li>Cell phones and other electronic devices</li>
                <li>Books, textbooks, or other reference materials</li>

            </ul>
            <h2>Special Needs</h2>
            <p>If you have any special needs or accommodations, please inform the proctor before the exam begins.</p>
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>