<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        .modal {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            visibility: hidden;
            transform: scale(1.1);
            transition: visibility 0s linear 0.25s, opacity 0.25s 0s;
        }

        .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 1rem 1.5rem;
            width: 24rem;
            border-radius: 0.5rem;
        }

        .close-button {
            float: right;
            width: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
            cursor: pointer;
            border-radius: 0.25rem;
            background-color: lightgray;
        }

        .close-button:hover {
            background-color: darkgray;
        }

        .show-modal {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
            transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
        }
    </style>
</head>

<body>
    <button onclick="basicpopup()">Popup window</button>
    <button class="trigger">Submit</button>
    <div class="modal">
        <div class="modal-content">
            <!-- <span class="close-button">×</span> -->
            <h1>Show your result : <span id="countdowntimer">5</span> Seconds</h1>
        </div>
    </div>
</body>
<script>
    function basicpopup() {
        popupWindow = window.open(
            "/examlistGet",
            "popUpWindow",
            "height=300,width=700,left=50,top=50,resizable=no,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes"
        );

        document.onkeydown = function (e) {
            alert("hellogdbndgb");
            // console.log("hello");
            e = e || window.event; //Get event

            if (!e.ctrlKey) return;

            var code = e.which || e.keyCode; //Get key code

            switch (code) {
                case 18: //Block Ctrl+S
                case 87: //Block Ctrl+W -- Not work in Chrome and new Firefox
                    e.preventDefault();
                    e.stopPropagation();
                    break;
            }
            // console.log("jaydip");
        };
    }

    const modal = document.querySelector(".modal");
    const trigger = document.querySelector(".trigger");
    const closeButton = document.querySelector(".close-button");

    function toggleModal() {
        modal.classList.toggle("show-modal");
        var timeleft = 5;
        var downloadTimer = setInterval(function () {
            timeleft--;
            document.getElementById("countdowntimer").textContent = timeleft;
            if (timeleft <= 0)
                //  clearInterval(downloadTimer);
                window.location.assign("/examlistGet");
        }, 1000);
    }

    function windowOnClick(event) {
        if (event.target === modal) {
            toggleModal();
        }
    }

    trigger.addEventListener("click", toggleModal);
    window.addEventListener("click", windowOnClick);
</script>

</html>