body {
    background: #fcfcfc;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: black;
}


.heading1 {
    font-size: 4rem;
}

.para1 {
    font-size: 1.5rem;
}

.btn-exm {
    width: 25%;
}

.img-circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.margintop-100
{
    margin-top: 100px;
  
}
.margintop-50
{
    margin-top: 50px;
  
}
.border
{
    border: 1px solid black;
}
.padding-20
{
    padding: 20px;
}
.padding-10
{
    padding: 10px;
}

/* /Profile Css */
